<div class="row">
    <div class=" col-lg-12 col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titulo</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Lista</th>
              <th scope="col">Director</th>
              <th scope="col">Costo</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let movie of movies">
              <th scope="row">{{movie.id}}</th>
              <td>{{movie.title}}</td>
              <td>{{movie.description}}</td>
              <td>{{movie.list}}</td>
              <td>{{movie.director}}</td>
              <td>{{movie.cost}}</td>
              <td>{{movie.quantity}}</td>
            </tr>
      
          </tbody>
        </table>
      </div>
</div>